\documentclass[a4paper,11pt]{book}

\usepackage{array}

% remove parindent
\setlength{\parindent}{0pt}
\setlength{\parskip}{6pt}

\title{Pentest Report} % Sets article title
\author{John Smith} % Sets authors name
\date{\today} % Sets date for date compiled

\begin{document} 
\maketitle % creates title using information in preamble (title, author, date)

\section{Show variables}

Organisation name : {{org_name}}

Organisation description : {{org_desc}}

Tests started on : {{org_creation.strftime('%d %B, %Y')}}\

Testing status : {{org_status}}

\underline{Domains} :

\begin{itemize}
{% for domain in domains %}
    \item Domain number {{ loop.index }}

    Domain name : {{domain.name}}

    Domain description : {{domain.description}}
    
    {% if domain.is_internal %}
        Agent ip : {{domain.ip}}
    {% else %}
        Domain ip : {{domain.ip}}
    {% endif %}

    Domain vulnerabilities : {{ domain.vulnerabilities.count() }}
    
    {% if domain.vulnerabilities.count() > 0 %}
    Critical vulnerabilites : {{ domain.vulnerabilities.filter(severity=4).count() }}

    High vulnerabilites : {{ domain.vulnerabilities.filter(severity=3).count() }}

    Medium vulnerabilites : {{ domain.vulnerabilities.filter(severity=2).count() }}

    Low vulnerabilites : {{ domain.vulnerabilities.filter(severity=1).count() }}

    Info vulnerabilites : {{ domain.vulnerabilities.filter(severity=0).count() }}

    Unknown vulnerabilites : {{ domain.vulnerabilities.filter(severity=-1).count() }}
    {% endif %}

    {% for vuln in domain.vulnerabilities %}
        Vulnerability name : {{ vuln.name }}
        Vulnerability description : {{ vuln.description }}
        {% set cves = vuln.cve_ids.values_list("name", flat=True) %} 
        {% set cwes = vuln.cwe_ids.values_list("name", flat=True) %} 
        Vulnerability CVEs : {% for cve in cves %}{{cve}}{% if not loop.last%}, {%endif%}{% endfor %}
        Vulnerability CWEs : {% for cwe in cwes %}{{cwe}}{% if not loop.last%}, {%endif%}{% endfor %}
    {% endfor %}

    {% for sub in domain.subdomains %}
        Subdomain name : {{sub.name}}

        Subdomain page title : {{sub.page_title}}

        Subdomain type : {{sub.content_type}}

        \begin{center}
            $\ast$~$\ast$~$\ast$
        \end{center}

    {% endfor %}
    
    {% if domain.is_internal %}
        \subsection{Opened ports}
        \begin{tabular}{|p{3cm}|>{\raggedright}p{8cm}|} 
        \hline
        Internal IP & Opened Ports \tabularnewline [0.5ex] 
        \hline
        {% for ip in domain.internal_ips %}
            {{ip.ip_address.address}} &

            {% set ports = ip.ip_address.ports.values_list("number","service_name").order_by("number") %} 
            {% for port_num, port_name in ports %} {{port_num}}({{port_name}}){% if not loop.last%}, {%endif%}{% endfor %}
            \tabularnewline
            \hline

        {% endfor %}
        \end{tabular}
    {% endif %}


{% else %}
    There is no domain

{% endfor %}
\end{itemize}


% verbatim is just to show special character in latex (not jinja)
\begin{verbatim} 
Escape inline : {{ '{{' }}

Escape bloc : 
{% raw  %} 
{{ this is not interpreted by jinja }}
{% endraw %}

\end{verbatim}

\end{document}

