<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mt-1">
          <div class="col-12">
            <table id="internalips_scan_results" class="table style-3 table-hover">
              <thead>
                <tr>
                  <th class="text-center" hidden>id</th>
                  <th class="text-center">IP</th>
                  <th class="text-center">Ports</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
